.customNav {
    position: fixed;
    width: 100%;
    background: url("../images/transparency.png");
    background-color: transparent !important;
    background-size: cover;
    z-index: 10;
  }
  
  .navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
  }
  
  .navbar-brand img{
    padding-right: 15px;
    width: 65px;
  }
  
  .nav-item {
    margin: 0px 15px;
  }
  
  .dropdown-menu {
    background: url("../images/transparency.png");
    background-color: transparent !important;
    background-size: cover;
  }
  
  .dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background: black;
  }
  
  .customNav a {
    color: white !important;
  }
  
  .navCTA {
    font-size: 15px;
  }
  
.rockBackground {
    background-image: url("../images/251369.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    height: calc(100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a.custom-link {
    color: white !important; /* Change the color as needed */
}

  a.custom-link:hover {
    color: #ff0000 !important; /* Change the color as needed */
}

.btn-primary:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Adjust the values as needed */
}

